/* =======TailWind===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======Custom CSS===== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all .5s ease;
  font-family: 'Nunito', sans-serif;
  color: #676767;
  /* background-color: #1e1e1e; */
}

main {
  flex: 1;
  /* Or flex-grow: 1;*/
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*======= Scroller Css======*/
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 1px solid #d5d5d5;
  display: none;
}
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
    display: none;
  }
  
/*=======Buttons Tailwind css=======*/
@layer components {
  .btn-primary {
    @apply border border-white w-full py-2 px-4 bg-transparent text-white font-body rounded-lg;
  }

  .btn-secondary {
    @apply border border-custom-red-500 w-24 h-9 px-4 bg-transparent text-custom-red-500 font-body rounded-full;
  }
}

.fade-down-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-down-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-down-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-down-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}


/* ===Popover animation=== */
.popover-container {
  display: flex;
  width: 180px;
  min-height: 1px !important;
  overflow-y: scroll;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.popover {
  animation-duration: 0.3s;
}

.popover.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}


