/* =======TailWind===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======Custom CSS===== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all .5s ease;
    font-family: 'Nunito', sans-serif;
    color:#676767;
    /* background-color: #1e1e1e; */
  }
  
  main {
    flex: 1; /* Or flex-grow: 1;*/
  }