/* =======TailWind===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======Custom CSS===== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all .5s ease;
  }
  
  main {
    flex: 1; /* Or flex-grow: 1;*/
  }